<div class="row">
	<div class="container jumbotron">
		<h1>Admin View</h1>
		<button id ='file-selector' type="button" class="btn btn-lg btn-primary" data-animation="am-fade-and-slide-top" data-template-url="views/modal/AddPeopleModal.html" bs-modal="modal">Add People</button>
		<button id ='file-selector' type="button" class="btn btn-lg btn-warning" data-animation="am-fade-and-slide-top" data-template-url="views/modal/AddPeopleModal.html" bs-modal="modal">Add Courses</button>
	</div>
</div>
<div class="container">
<allstudents></allstudents>
</div>