div.navbar-collapse.collapse {
	display: block;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height .3s ease;
	-moz-transition: max-height .3s ease;
	-o-transition: max-height .3s ease;
	transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
	max-height: 2000px;
}

input.ng-invalid.ng-dirty{
	border-color: #e96666;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.popover:focus{
	outline:none;
}
.popover{
	z-index:90909090;
}

.table-hover > tbody > tr:hover {
    background: #ccc;
    color: white;
    transition: 0.3s ease-in;
}
hr{
	margin-bottom: 0px;
}
.teacher-row{
	background:rgba(91, 192, 222,0.2) !important;
}

.ng-dirty.ng-not-empty {
	border:2px solid #eea236;
}

.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .50s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .8;
    }
  }
  &.ng-leave {
    opacity: .8;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}


.file-upload {
  position: relative;
  overflow: hidden;
  margin: 10px; 
}

.file-upload input.file-input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0); 
}

body{font-family: 'Lato', sans-serif;}
.aside-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

.email_label {
  width: 100%;
}

.role_label {
  text-align: center;
}

.email_holder {
    font-size: 1.25rem;
    line-height: normal;
    padding: .75rem;
    border: 1px solid #C5C5C5;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    color: #555459;
    width: 100%;
    max-width: 100%;
    font-family: Slack-Lato,appleLogo,sans-serif;
    margin: 0 0 .5rem;
    -webkit-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -moz-transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    transition: box-shadow 70ms ease-out,border-color 70ms ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-shadow: none;
    height: auto;
}
/*#admin_invites_header {
    font-size: 2rem;
    line-height: 2.5rem;
    letter-spacing: -.5px;
}

.admin_invite_row, .admin_invites_custom_message_container {
    position: relative;
    padding: .25rem 2.75rem .25rem .5rem;
    margin: 0 -2.75rem 0 -.5rem;
    border-radius: .25rem;
    -webkit-transition: background .1s ease-out 0s;
    -moz-transition: background .1s ease-out 0s;
    transition: background .1s ease-out 0s;
}

.col {
    display: block;
    float: left;
    margin: 0 0 2%;
    padding-right: 2%;
}

label {
    font-weight: 700;
    margin: 0 0 .25rem;
    display: block;
    font-size: 1rem;
    line-height: 1.5rem;
}*/
