div.navbar-collapse.collapse {
	display: block;
	overflow: hidden;
	max-height: 0px;
	-webkit-transition: max-height .3s ease;
	-moz-transition: max-height .3s ease;
	-o-transition: max-height .3s ease;
	transition: max-height .3s ease;
}

div.navbar-collapse.collapse.in {
	max-height: 2000px;
}

input.ng-invalid.ng-dirty{
	border-color: #e96666;
    outline: 0;
    outline-color: initial;
    outline-style: initial;
    outline-width: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}

.stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
.popover:focus{
	outline:none;
}
.popover{
	z-index:90909090;
}

.table-hover > tbody > tr:hover {
    background: #ccc;
    color: white;
    transition: 0.3s ease-in;
}
hr{
	margin-bottom: 0px;
}
.teacher-row{
	background:rgba(91, 192, 222,0.2) !important;
}

.ng-dirty.ng-not-empty {
	border:2px solid #eea236;
}
body{font-family: 'Lato', sans-serif;}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
.aside-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}
