<div class="row">
<div class = "col-sm-4 col-lg-4 col-md-4">
	<div style="f6f6f6" class="well" ng-show="students">

		<div class="row">
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" ng-model="searchStudent"  placeholder="Search Students/Teachers" >
						<span class="input-group-addon" style="padding:5px 12px;">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<br><div style=" height: 200px !important;overflow: scroll;">
			<table class="table table-hover col-sm-6 col-md-6 col-lg-6">
				<thead><th>Name</th><th>Id</th><th ng-show="false">Email</th></thead>
				<tbody><tr style="cursor:pointer;color:#444;" ng-repeat="student in students | orderBy:student.id | filter:searchStudent" ng-class="{'teacher-row':student.type=='teacher'}" ng-click="selectStudent(student.uid,student.type)"><td>{{student.name}}  <span ng-if="student.type=='teacher'" style="color:#337ab7;" class="glyphicon glyphicon-knight" aria-hidden="true"></span></td><td>{{student.id}}</td><td ng-show="false">{{student.email}}</td>
				</tr></tbody>
			</table>
			</div>
		</div>
	</div>
</div>
<div class = "col-sm-4 col-lg-4 col-md-4">
	<div style="color:#444;" class="well" ng-show="students" ng-init="selectStudent(students[0].uid,students[0].type)" >
		<div><h4><span ng-if="selectedStudent.type=='teacher'" class="glyphicon glyphicon-knight" aria-hidden="true"></span><span ng-if="selectedStudent.type=='student'" class="glyphicon glyphicon-user" aria-hidden="true"></span>   {{selectedStudent.name }}<span style="color:#ccc;" ng-hide="selectedStudent.id!=null">This user hasn't signed up yet!</span></h4></div>
		<div ng-if="selectedStudent.type=='student'"><h3><span class="label label-success">{{selectedStudent.id}}</span></h3></div>
		<div ng-if="selectedStudent.type=='teacher'"><h3><span class="label label-primary">{{selectedStudent.id}}</span></h3></div>
		<div ng-if="selectedStudent.type=='teacher'"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  {{selectedStudent.designation}}</div>
		<div ><h5><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>   {{selectedStudent.email}}</h5></div>
		<div ><h5><span class="glyphicon glyphicon-phone" aria-hidden="true"></span>   {{selectedStudent.contact}}</h5></div>
		<div class="banner banner-primary"><h5><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   {{selectedStudent.address}}</h5></div>
		<ul class="list-inline">
			<li ng-repeat="(class,course) in selectedStudent.classes" style="cursor:pointer;" ng-click="selectNewClass(class)" data-animation="am-flip-x" data-template-url="views/popover/popover.class.details.html" data-placement="right" data-auto-close="1" bs-popover><h5><span class="label label-info">  {{course}}  </span><span class="label label-warning">  {{class}}  </span></h5></li>
		</ul>

	</div>
</div>
<div class = "col-sm-4 col-lg-4 col-md-4">
	<div style="f6f6f6" class="well" ng-show="students" >

		<div class="row">
			<div class="col-sm-12 col-lg-12 col-md-12">
				<div id="imaginary_container">
					<div class="input-group stylish-input-group">
						<input type="text" class="form-control" ng-model="searchCourses"  placeholder="Search Courses/Classes" >
						<span class="input-group-addon" style="padding:5px 12px;">
							<button type="submit">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<br>
			<div style=" height: 200px !important;">
			<table class="table col-sm-6 col-md-6 col-lg-6">
				<thead><th>Id</th><th>Name</th><th>Classes</th></thead>
				<tbody><tr style="color:#444;" ng-repeat="course in coursesLocal | filter:searchCourses"><td><span class="label label-info">{{course.id}}</span></td><td>{{course.name}}</td><td><ul class="list-inline"><li ng-repeat="(key,val) in course.classes" style="cursor:pointer;" ng-click="selectNewClass(key)" data-animation="am-flip-x" data-template-url="views/popover/popover.class.details.html" data-placement="right" data-auto-close="1" bs-popover><span class="label label-warning">{{key}}</span></li></ul></td>
				</tr></tbody></table>
		</div>
	</div>
</div>
</div>
</div>